# 01a. Australian Open Tournament Info Scraper

Notebook will contain codes and functions for scraping the AO tournament page for a specific year.
Scraping functions will return datasets containing tournament and match information, as well as the URL for each match's match centre page.

In [2]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
import numpy as np
import re
import json
import itertools
import sys
sys._enablelegacywindowsfsencoding() #Deal with pandas problem with reading file with accents in file path i.e Alexis Sánchez, Victor Lindelöf 


headers = {'User-Agent': 
           'Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/47.0.2526.106 Safari/537.36'}

In [3]:
from ast import literal_eval

In [ ]:
df_results_list = []
df_rounds_list = []

for day in np.arange(1,15):

    link = f'https://prod-scores-api.ausopen.com/year/2023/period/MD/day/{day}/results'
    # Get request and content from the given link and parse into HTML
    pageTree = requests.get(link, headers=headers)
    pageSoup = BeautifulSoup(pageTree.content, 'html.parser') 
    
    results_json = json.loads(str(pageSoup))
    df_results = pd.DataFrame(results_json['matches'])

    df_rounds_list.append(pd.DataFrame(results_json['rounds']))
    df_results_list.append(df_results)

In [2]:
# df_results = pd.concat(df_results_list).reset_index(drop=True)
# df_results.head()

In [33]:
#df_results.to_csv("data/AO_results-all_raw_2023.csv", index=False)
#df_rounds = pd.concat(df_rounds_list).drop_duplicates().reset_index(drop=True)
#pd.concat(df_rounds_list).drop_duplicates().reset_index(drop=True).to_csv("data/AO_rounds-uuid_2023.csv", index=False)
df_results = pd.read_csv("data/AO_results-all_raw_2023.csv", converters={"teams": literal_eval})
df_rounds = pd.read_csv("data/AO_rounds-uuid_2023.csv")

In [5]:
df_players_list = []
df_teams_list = []

for day in np.arange(1,15):

    link = f'https://prod-scores-api.ausopen.com/year/2023/period/MD/day/{day}/results'
    # Get request and content from the given link and parse into HTML
    pageTree = requests.get(link, headers=headers)
    pageSoup = BeautifulSoup(pageTree.content, 'html.parser') 
    
    results_json = json.loads(str(pageSoup))
    df_players_list.append(pd.DataFrame(results_json['players']))
    df_teams_list.append(pd.DataFrame(results_json['teams']))

In [22]:
df_teams = pd.concat(df_teams_list).drop_duplicates(subset=['uuid']).reset_index(drop=True)
df_teams.to_csv("data/AO_teams_2023.csv", index=False)
df_teams.to_json("data/AO_teams_2023.json")

In [5]:
df_players = pd.read_csv("../data/AO_players_2023.csv")

In [23]:
df_players = pd.concat(df_players_list).drop_duplicates(subset=['full_name']).sort_values("full_name").reset_index(drop=True)#.to_csv("data/AO_players_2023.csv", index=False)
df_players[['uuid', 'nid', 'player_id', 'tour_id', 'full_name']]

,uuid,nid,player_id,tour_id,full_name
0,3e34d8a0-003d-4fba-929f-74dc7058c52c,5764,ATPCG80,ATPCG80,Borna Coric
1,70ebe882-a3bd-410a-884e-1bc5e0144423,5781,ATPDA81,ATPDA81,Taro Daniel
2,659c0662-aec1-4ad3-b4b0-f484ab7b1525,5793,ATPE831,ATPE831,Kyle Edmund
3,a1cf153a-2309-462e-80c8-bc3553caad09,5794,ATPE873,ATPE873,Ernesto Escobedo
4,5e0139b2-be80-4349-b8ec-10c985272b5b,5800,ATPF724,ATPF724,Marton Fucsovics
...,...,...,...,...,...
588,12bff3fc-360b-4974-a504-c25eab3fbf70,238291,ITF800512726,ITF800512726,Shiori Funamizu
589,3dbc8dac-767b-4b41-b583-91417b3173bf,238296,ITF800232576,ITF800232576,Katharina Kruger
590,7354da53-2797-4f7e-b402-7eb92936e7a1,238336,ITF800470585,ITF800470585,Maria Florencia Moreno
591,dc148084-861f-4350-b5f9-1018e1bf6602,15561,ATPS694,ATPS694,Radek Stepanek
592,a649e099-fd54-4a23-95fd-610258b946f8,11061,ATPH355,ATPH355,Tommy Haas

In [44]:
round_names = df_results.round_id.apply(lambda x : df_rounds[df_rounds.uuid == x].name.iloc[0])

In [ ]:
df_results.insert(17, "player2_name", p2_names)
df_results.insert(16, "player1_name", p1_names)
df_results.insert(14, "round", round_names)

In [ ]:
df_results.head(2)

,date,actual_start_time,match_centre_link,uuid,match_id,team_substituted_footnote,team_substituted,id,order,promoted,...,teams,player1_name,event_uuid,player2_name,court_id,session,session_order,restricted_start_time,restricted_start_time_timestamp,activity_order
0,2023-01-16,00:14,https://ausopen.com/match/2023-katerina-siniak...,222446,WS116,,False,222446,16,True,...,"[{'team_id': '226996', 'score': [{'set': 1, 'g...",Katerina Siniakova,4225c89e-7cfd-463f-a01d-4102ba2913f3,Coco Gauff,12,Day session,0,None,NaN,0
1,2023-01-16,01:50,https://ausopen.com/match/2023-yue-yuan-vs-mar...,222406,WS132,,False,222406,32,False,...,"[{'team_id': '227111', 'score': [{'set': 1, 'g...",Yue Yuan,4225c89e-7cfd-463f-a01d-4102ba2913f3,Maria Sakkari,12,Day session,0,None,NaN,1

In [43]:
p1_uuid = df_results.teams.apply(lambda x : df_teams[df_teams.uuid==x[0]['team_id']].players.iloc[0] )
p2_uuid = df_results.teams.apply(lambda x : df_teams[df_teams.uuid==x[1]['team_id']].players.iloc[0] )

In [45]:
df_results.insert(14, "round", round_names)

In [47]:
df_results.insert(17, "team2_player_uuid", p2_uuid)
df_results.insert(17, "team1_player_uuid", p1_uuid)

In [54]:
player1_names = df_results.team1_player_uuid.apply(lambda x : ", ".join([df_players[df_players.uuid==name].full_name.iloc[0] for name in x]) )
player2_names = df_results.team2_player_uuid.apply(lambda x : ", ".join([df_players[df_players.uuid==name].full_name.iloc[0] for name in x]) )

In [62]:
df_results.insert(list(df_results.columns).index("team2_player_uuid")+1, "player2_name", player2_names)
df_results.insert(list(df_results.columns).index("team1_player_uuid")+1, "player1_name", player1_names)

In [68]:
df_results

,date,actual_start_time,match_centre_link,uuid,match_id,team_substituted_footnote,team_substituted,id,order,promoted,...,player1_name,team2_player_uuid,player2_name,event_uuid,court_id,session,session_order,restricted_start_time,restricted_start_time_timestamp,activity_order
0,2023-01-16,00:14,https://ausopen.com/match/2023-katerina-siniak...,222446,WS116,NaN,False,222446,16,True,...,Katerina Siniakova,[2435e580-912e-4239-92c7-5778a17a7190],Coco Gauff,4225c89e-7cfd-463f-a01d-4102ba2913f3,12,Day session,0,NaN,NaN,0
1,2023-01-16,01:50,https://ausopen.com/match/2023-yue-yuan-vs-mar...,222406,WS132,NaN,False,222406,32,False,...,Yue Yuan,[d5ff642d-4e0f-4e07-bcc9-1cffa2fe0dee],Maria Sakkari,4225c89e-7cfd-463f-a01d-4102ba2913f3,12,Day session,0,NaN,NaN,1
2,2023-01-16,03:51,https://ausopen.com/match/2023-rafael-nadal-vs...,225666,MS101,NaN,False,225666,1,True,...,Rafael Nadal,[cd126eb3-67bf-4f1d-bd7c-c85a81b43afb],Jack Draper,675d28ec-b177-46b2-959c-595f3ca862a0,12,Day session,0,14:30,1.673840e+09,2
3,2023-01-16,08:34,https://ausopen.com/match/2023-iga-swiatek-vs-...,222471,WS101,NaN,False,222471,1,True,...,Iga Swiatek,[a386d06b-811c-486b-96c6-45d54f560ae3],Jule Niemeier,4225c89e-7cfd-463f-a01d-4102ba2913f3,12,Night session,1,NaN,NaN,0
4,2023-01-16,11:02,https://ausopen.com/match/2023-marcos-giron-vs...,225221,MS116,NaN,False,225221,16,False,...,Marcos Giron,[d36bef3a-e455-4180-bc58-b012c8c0b14a],Daniil Medvedev,675d28ec-b177-46b2-959c-595f3ca862a0,12,Night session,1,NaN,NaN,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
657,2023-01-28,01:11,https://ausopen.com/match/2023-diede-de-groot-...,235986,DS401,NaN,False,235986,1,False,...,Diede De Groot,[811f507d-277b-4b06-8d10-53e0b88133a5],Yui Kamiji,126de82b-1b67-47a5-b85d-75fea6e4c8b3,2266,Day session,0,NaN,NaN,0
658,2023-01-28,03:37,https://ausopen.com/match/2023-niels-vink-vs-s...,235891,US301,NaN,False,235891,1,False,...,Niels Vink,[bcb78979-3a39-4bb7-b6d3-7a5a35d9525f],Sam Schroder,ca1aafcb-34ac-4023-87cf-88cc84b654ff,2266,Day session,0,NaN,NaN,1
659,2023-01-28,05:39,https://ausopen.com/match/2023-alfie-hewett-vs...,235776,CS401,NaN,False,235776,1,False,...,Alfie Hewett,[66228076-69ee-401e-824e-43e73080fe31],Tokito Oda,8eac5a43-0065-4842-8550-914d5cfb1898,2266,Day session,0,NaN,NaN,2
660,2023-01-29,04:13,https://ausopen.com/match/2023-barbora-krejcik...,229351,WD601,NaN,False,229351,1,True,...,"Barbora Krejcikova, Katerina Siniakova","[b5a8735f-d6f0-48ea-9414-dc5fe5b9c845, 4ba548e...","Shuko Aoyama, Ena Shibahara",49831612-a137-40a3-a491-b51354ed4f2a,12,Twilight session,2,NaN,NaN,0
661,2023-01-29,08:45,https://ausopen.com/match/2023-stefanos-tsitsi...,225626,MS701,NaN,False,225626,1,True,...,Stefanos Tsitsipas,[7b04e056-88b3-4e0a-9431-84f2fe039993],Novak Djokovic,675d28ec-b177-46b2-959c-595f3ca862a0,12,Twilight session,2,19:30,1.674981e+09,1

In [66]:
df_results.to_csv("data/AO_results-all_processed_2023.csv", index=False)

In [ ]:
########################## 
## Need to make sense of all the "a[something]" key names in the event data json. 

"a50": "pointsData"
'a11': "cruciality"
"a89": 'returnPlacement'
"a12": 'trajectoryData'
'a70': 'x'
'a71': 'y'
'a72': 'z'
'a73': 'position'
'a74': 'erroneousBall'

In [360]:
data_json_rg['courtVisionData'][0].keys()

dict_keys(['a75', 'a76', 'a77', 'a78', 'a50', 'a79', 'a49', 'a80', 'a81', 'a82'])

In [ ]:
'a86': 'uuid' ??
'a85': 'pName'
'a87': 'Country'
'a88': 'seed'

In [386]:
data_json_rg['courtVisionData'][0]['a79']

{'a83': [{'a85': 'R.NADAL', 'a86': '7792', 'a87': 'ESP', 'a88': '5'}],
 'a84': [{'a85': 'A.ZVEREV', 'a86': '30350', 'a87': 'GER', 'a88': '3'}]}

In [ ]:
['isMatchComplete', 'eventType', 'courtName', 'courtId', 'pointsData', 'playersData', 'statsData', 'setsCompleted', 'pointId', 'matchStatus']

In [ ]:
'a90': 'errorType'
'a91': 'winnerPlacement'
'a92': 'unforcedErrorPlacement'
'a81': 'pointId'
'a13': 'serverId'
'a14': 'scorerId'
'a15': 'receiverId'
'a16': 'ballSpeed'
'a17': 'returnSpeed'
'a18': 'returnSpeedFrench'
'a93': 'rallyLength'
'a94': 'rallyLength' + 1 ???
'a19': 'spin'
'a20': 'heightAboveNet'
'a21': 'ballSpeedFrench'
'a22': 'heightAboveNetFrench'
'a23': 'distanceOutsideCourt'
'a24': 'distanceOutsideCourtFrench'
'a95': 'pointEndType'
'a25': 'strokeType'
'a96': 'serveType'
'a97': 'court'
'a98': 'setNumber'
'a99': 'set'
'a100': 'game'
'a101': 'point'
'a102': 'serve'
'a103': 'hand'
'a104': 'breakPoint'
'a26':  'runAroundForeHand'
'a105': 'breakPointConverted'
'a106': 'trappedByNet'

In [ ]:
'a27': 'ballHitCordinate'
'a28': 'ballPeakCordinate'
'a29': 'ballNetCordinate'
'a30': 'ballBounceCordinate'
'a31': 'ballLastCordinate' 
'a32': 'serverCordinate'
'a33': 'receiverCordinate' 
'a34': 'serveBounceCordinate'

In [ ]:
'a122': 'p1Set1Score',
'a123': 'p1Set2Score',
'a124': 'p1Set3Score',
'a125': 'p1Set4Score',
'a126': 'p1Set5Score',
'a127': 'p1Set1TBScore',
'a128': 'p1Set2TBScore',
'a129': 'p1Set3TBScore',
'a130': 'p1Set4TBScore',
'a131': 'p1Set5TBScore',
'a132': 'p2Set1Score',
'a133': 'p2Set2Score',
'a134': 'p2Set3Score',
'a135': 'p2Set4Score',
'a136': 'p2Set5Score',
'a137': 'p2Set1TBScore',
'a138': 'p2Set2TBScore',
'a139': 'p2Set3TBScore',
'a140': 'p2Set4TBScore',
'a141': 'p2Set5TBScore',
'a142': 'p1GameScore',
'a143': 'p2GameScore'

In [369]:
peter_dict = {'errorType': 'NA',
 'winnerPlacement': 'Cross Court',
 'unforcedErrorPlacement': 'NA',
 'pointId': '1_2_4_1',
 'serverId': '26348',
 'scorerId': '7792',
 'receiverId': '7792',
 'ballSpeed': '182 KPH',
 'returnSpeed': '182 KPH',
 'returnSpeedFrench': '182 KPH',
 'rallyLength': 14,
 'spin': '852.71',
 'heightAboveNet': '5.52 Feet',
 'ballSpeedFrench': '182 KPH',
 'heightAboveNetFrench': '1.68 Metre',
 'distanceOutsideCourt': 'NA',
 'distanceOutsideCourtFrench': 'NA',
 'pointEndType': 'Winner',
 'strokeType': 'NA',
 'serveType': 'Slice',
 'court': 'AdCourt',
 'setNumber': '1',
 'set': '1',
 'game': '2',
 'point': '4',
 'serve': '1',
 'hand': 'BackHand',
 'breakPoint': False,
 'runAroundForeHand': False,
 'breakPointConverted': False,
 'trappedByNet': False,}

In [374]:
raw_dict = {'a90': 'NA',
 'a91': 'Cross Court',
 'a92': 'NA',
 'a81': '1_5_2_1',
 'a13': '7792',
 'a14': '7792',
 'a15': '30350',
 'a16': '194 KPH',
 'a17': 'NA',
 'a18': 'NA',
 'a93': 1,
 'a94': 1,
 'a19': '0',
 'a20': '3.66 Feet',
 'a21': '194 KPH',
 'a22': '1.12 Metre',
 'a23': 'NA',
 'a24': 'NA',
 'a95': 'Ace',
 'a25': 'NA',
 'a96': 'Pronated',
 'a97': 'AdCourt',
 'a98': '1',
 'a99': '1',
 'a100': '5',
 'a101': '2',
 'a102': '1',
 'a103': 'ForeHand',
 'a104': False,
 'a26': False,
 'a105': False,
 'a106': False,}

len(raw_dict.keys())

32

In [ ]:
# Roland Garros Match JSON URL
# https://itp-rg-sls.infosys-platforms.com/prod/api/court-vision/year/2022/eventId/520/matchId/SM001/pointId/0_0_0

# ATP
# https://itp-atp-sls.infosys-platforms.com/static/prod/court-vision/2023/2843/MS001/data.json

# AO
# https://itp-ao-sls.infosys-platforms.com/static/prod/court-vision/2023/580/WS302/data.json
# This seems to run less into 403 errors
# https://itp-ao-sls.infosys-platforms.com/prod/api/court-vision/year/2023/eventId/580/matchId/MS701/pointId/0_0_0